* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #efefef;
}
h1,h2,h3 {
    
}
input,
button,
select {
    font: inherit;
}
.container {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}